body {
    background-color: #282c34;
    color: rgb(182, 182, 182);
    text-align: center;
}

.play-button {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.play-button:focus {
    outline: none;
}

.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    text-align: left;
    display: block;
    height: 90vmin;
    width: 90vmin;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}